Repository yaselmo/Tracklet: changes, and which Codecov flags are due for each by the changed paths.
All: Backend Apps, Backend General, Frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
    patch: off

github_checks:
    annotations: true

flag_management:
  default_rules:
    carryforward: true
  individual_flags:
    - name: backend
      carryforward: true
      statuses:
        - type: project
          target: 85%
    - name: migrations
      carryforward: true
      statuses:
        - type: project
          target: 40%
    - name: web
      carryforward: true
      statuses:
        - type: project
          target: 45%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: backend-apps
      name: Backend Apps
      paths:
        - src/backend/Tracklet/build/**
        - src/backend/Tracklet/company/**
        - src/backend/Tracklet/data_exporter/**
        - src/backend/Tracklet/importer/**
        - src/backend/Tracklet/machine/**
        - src/backend/Tracklet/order/**
        - src/backend/Tracklet/part/**
        - src/backend/Tracklet/plugin/**
        - src/backend/Tracklet/report/**
        - src/backend/Tracklet/stock/**
        - src/backend/Tracklet/users/**
        - src/backend/Tracklet/web/**
      statuses:
        - type: project
          target: 90%
    - component_id: backend-general
      name: Backend General
      paths:
        - src/backend/Tracklet/generic/**
        - src/backend/Tracklet/common/**
      statuses:
        - type: project
          target: 92% # 95%
        - type: patch
          target: 95%
    - component_id: web
      name: Frontend
      paths:
        - src/frontend/**
      statuses:
        - type: project
          target: 68% # 90%
        - type: patch
          target: 80%
comment:
  require_bundle_changes: True
  bundle_change_threshold: "1Kb"
  layout: "header, diff, flags, components"

bundle_analysis:
  warning_threshold: "5%"
  status: "informational"

fix lingui compile to .ts faillure
  src/frontend/package.json
Due: Frontend

fixed warning related to qc build and filter
  .github/workflows/qc_checks.yaml
Due: none

base yasser
  .pre-commit-config.yaml
  pyproject.toml
  src/backend/Tracklet/Tracklet/urls.py
  src/backend/Tracklet/operations/api.py
  src/backend/Tracklet/operations/management/commands/import_rental_pdf.py
  src/backend/Tracklet/operations/models.py
  src/backend/Tracklet/operations/serializers.py
  src/backend/Tracklet/operations/test_api.py
  src/backend/Tracklet/operations/test_commands.py
  src/backend/Tracklet/stock/api.py
  src/backend/Tracklet/stock/migrations/0119_stockitem_availability.py
  src/backend/Tracklet/stock/models.py
  src/backend/Tracklet/stock/serializers.py
  src/backend/requirements-3.14.txt
  src/frontend/src/components/nav/NavigationDrawer.tsx
  src/frontend/src/defaults/links.tsx
  src/frontend/src/forms/EventRentalForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/pages/events/EventDetail.tsx
  src/frontend/src/pages/events/EventsIndex.tsx
  src/frontend/src/pages/rentals/RentalOrderDetail.tsx
  src/frontend/src/pages/rentals/RentalsIndex.tsx
  src/frontend/src/pages/stock/StockDetail.tsx
  src/frontend/src/tables/events/EventFurnitureTable.tsx
  src/frontend/src/tables/events/EventTable.tsx
  src/frontend/src/tables/events/eventStatusStyles.ts
  src/frontend/src/tables/rentals/RentalOrderTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
  src/frontend/src/tables/stock/stockAvailabilityStyles.ts
Due: Backend Apps, Frontend

rental patch
  src/backend/Tracklet/InvenTree/static/tabler-icons/icons.json
  src/backend/Tracklet/operations/api.py
  src/backend/Tracklet/operations/availability.py
  src/backend/Tracklet/operations/models.py
  src/backend/Tracklet/operations/serializers.py
  src/backend/Tracklet/operations/tasks.py
  src/backend/Tracklet/operations/test_api.py
  src/backend/Tracklet/stock/api.py
  src/backend/Tracklet/stock/migrations/0124_seed_stock_categories.py
  src/backend/Tracklet/stock/serializers.py
  src/backend/Tracklet/stock/test_api.py
  src/frontend/lib/enums/ModelInformation.tsx
  src/frontend/lib/enums/ModelType.tsx
  src/frontend/src/forms/EventRentalForms.tsx
  src/frontend/src/forms/StockForms.tsx
  src/frontend/src/pages/events/EventDetail.tsx
  src/frontend/src/pages/rentals/RentalOrderDetail.tsx
  src/frontend/src/tables/events/EventFurnitureTable.tsx
  src/frontend/src/tables/rentals/RentalLineItemTable.tsx
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Backend Apps, Frontend

fix
  .codex
  .directory
  src/backend/Tracklet/Tracklet/models.py
  src/backend/Tracklet/common/icons.py
  src/backend/Tracklet/common/tests.py
  src/backend/Tracklet/company/migrations/0078_alter_company_image.py
  src/backend/Tracklet/part/migrations/0147_alter_part_image.py
  src/backend/Tracklet/part/serializers.py
  src/frontend/src/tables/stock/StockItemTable.tsx
Due: Backend Apps, Backend General, Frontend

fix instance and docker compose
  contrib/container/docker-compose.yml
  src/frontend/src/components/render/Instance.tsx
  src/frontend/src/components/render/Tracklet.tsx
Due: Frontend

fix: update login logo path for deployed static assets
  src/frontend/src/pages/Auth/Login.tsx
Due: Frontend

feat: make stock overview cards navigate to filtered stock list
  src/frontend/src/components/dashboard/widgets/StockOverviewWidget.tsx
Due: Frontend

Remove roadmap section from README
  README.md
Due: none
